<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to my shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        table, th, td {
          border: 1px solid black;
        }
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
        button {
            width:60%;
            height:20%;
            border-radius: 10px;
        }
    </style>
</head>
<body>
<h1>Welcome to Sid's store</h1>
<style>
    h1 {
      text-align: center;
    }
    table {
        text-align: center;
    }
</style>

<table class ="center">
    <thead>
    <td width="25%"></td>
    <td width="25%">Name</td>
    <td width="25%">Description</td>
    <td width="25%">Price</td>
    </thead>
    <tbody>
    <tr th:each="item: ${allItems}">
        <td>
            <a th:href="@{/product(id=${item.id})}">
                <img th:src="${item.imageUrl}" width="200"> </img>
            </a>
        </td>
        <td>
            <a th:text="${item.name}" th:href="@{/item(id=${item.id})}">view</a>
        </td>
        <td th:text="${item.description}" />
        <td th:text="${item.price}" />
    </tr>
    </tbody>
</table>
    <a href="/items"><button>Back to Items Page</button></a>
</body>
</html>